
{{> modalBox}}
{{> nav}}
<div class="container-fluid Container h-100" style="padding-left: 0px !important;padding-right: 0px !important;!important; min-height: 100vh !important;">
	<div class="d-flex w-100" style="padding: 0px !important; margin: 0px !important;">

		<div class="bg-warning w-100" style="margin-top:-2px;">
		
		{{{body}}}
		</div>

	</div>

</div>

