{{#if error_msg }}
	<div class="">
		<h6 class="text-darken-2 text-danger"><strong>{{error_msg}}</strong></h6>
	</div>
{{/if}}


{{#if success_msg }}
	<div class="">
		<h6 class="text-darken-2 text-success"><strong>{{success_msg}}</strong></h6>
	</div>
{{/if}}