
<nav class="footer fixed-top text-white d-flex shadow-sm">
	<div class="mr-auto mx-3 my-2 d-flex">
		<div class="mt-1">
			<a class="text-monospace" href="/" style="font-weight: 600; letter-spacing: 2px;">My Header</a>
		</div>
		<div class="mx-2">
			{{route}}
		</div>
	</div>
	<div class="hover-feature h-100 rounded px-2">
		<div class="material-icons noselect hoverable"  data-toggle="modal" data-target="#accountModal">account_circle</div>
	</div>
</nav>