<div class="">
  	<button type="button" class="btn btn-dark" onclick="create_modal('trialImport', {{tables}}, '/import', 'GET');" data-toggle="modal" data-target="#trialImport">Click me</button>

  	</div>
</div>

  	<script>
  	</script>
</div>